body
{
  color: white;
  background: linear-gradient(#000000 0% ,#a75af8 );
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}

label
{
  font-size: 14px;
  border-radius: 10px;
  letter-spacing: 5px;
  color: blueviolet;
  padding: 6px;
  border-radius: 5px;
  background-color: white;
}

button
{
  color: #000000;
}